<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} | ChatApp {% endblock title %}</title>

        <script src="https://cdn.tailwindcss.com"></script>
        <style>
            .chat-messages{
                height: 400px;
                overflow-y: auto;
            }
        </style>
    </head>

    <body class="bg-teal-500">
        <nav class="py-6 px-4 flex justify-between items-center border-b border-gray-200 bg-teal-700">
            <div class=" text-white text-xl">
                <a href="{% url 'core:index' %}">ChatApp</a>
            </div>
            <div class="space-x-6">
                {% if request.user.is_authenticated %}
                    <a href="{% url 'room:rooms' %}" class="px-6 py-3 text-lg font-semibold text-white">Rooms</a> 
                    <a href="{% url 'core:logout' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-800">Logout</a>
                {% else %}
                    <a href="{% url 'core:signup' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-800">Sign up</a>
                    <a href="{% url 'core:login' %}" class="px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-800">Log in</a>
                {% endif %}
            </div>
        </nav>

        <div class="px-6 py-6">
            {% block content %}
            {% endblock %}
         </div>

         {% block scripts %}
         {% endblock scripts %}
    </body>
</html>